table {
    border-collapse: collapse;
    text-align: center;
    font-size: 0.8vw;
}

tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    white-space: nowrap;
}

th {
    cursor: pointer;
}

body {
    flex-direction: column;
}

.to_right {
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 6vw;
}

.to_right button {
    height: 2rem;
    width: 100%;
}

.to_right button:hover{
    color: white;
}

.item {
    cursor: pointer;
}

.item:hover {
    background-color: #f1f1f1;
}